<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body ng-app="passbook">
		<div ui-view></div>
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
		<script src="/bower_components/angular-base64/angular-base64.min.js"></script>
		<script src="/bower_components/angular-translate/angular-translate.min.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.min.js"></script>		
		<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="/bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
		<script src="/bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.min.js"></script>		
		<script src="/bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
		<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>	
		<script src="/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
		<script src="/bower_components/datatables.net-buttons/js/buttons.colVis.min.js"></script>
		<script src="/bower_components/datatables.net-buttons/js/buttons.print.js"></script>
		<script src="/javascripts/app.js"></script>
	</body>
</html>
